.App {
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}
.card {
  display: inline-block;
  margin: 10px;
  flex-grow: 1;
  height: 220px;
  border: 2px solid blue;
  border-radius: 10px;
  width: calc(100% * (1/5) - 30px - 2px);
  position: relative;
}
.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  padding: 15px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  margin-left: -21px;
  margin-top: -25px;
}
.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
}
.modal {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  border-radius: 20px;
  width: 500px;
  padding: 50px;
  border: 2px solid #ccc;
  z-index: 100;
  background-color: #f2f2f2;
  text-align: center;
}
.modal div {
  display: inline-block;
  margin: 0 30px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
}
.ok {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  border-radius: 20px;
  width: 500px;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  background: green;
  text-align: center;
}
.bad {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  border-radius: 20px;
  width: 500px;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  background: red;
  text-align: center;
}
.points {
  text-align: center;
  display: flex;
  margin-top: 20px;
}
.good-points, .bad-points {
  font-size: 30px;
  margin: 0 40px;
}
.good-points {
  color: green;
}
.bad-points {
  color: red;
}